html,
body {
    margin: 0;
    /* background-color: #333; */
    /* color: #eee; */
}

.title {
    border-bottom: 5px solid #999;
    padding: 3px 5px;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 49px;
    background-color: #333;
    z-index: 100;
    font-size: 1.5rem;
    white-space: nowrap;

    color: #eee;
}

.footer {
    border-top: 5px solid #999;
    padding: 5px 10px;
    /* font-size: 36pt; */
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 30px;
    background-color: #333;
    z-index: 100;
    margin-bottom: -30px;

    font-size: 1rem;
    white-space: nowrap;

    color: #eee;

    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: margin-bottom;
}

.footer.show {
    margin-bottom: 0px;
}

.footer div {
    margin-right: 0.25em;
}

.title .nav-toggle {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    margin: 0 0.7rem;
    text-align: center;
    vertical-align: middle;
}

.title h1 {
    font-size: inherit;
}

#tune .header {
    margin: 0.25em 0 !important;
}

#tune #title {
    line-height: 0.9em !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: inherit !important;
    margin-bottom: inherit !important;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 40px;
}

.main {
    padding-top: 0;
    font-size: 1.2rem;
    /* background-color: #eee; */
    color: #000;

    overflow-x: hidden;

    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: margin-left;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

#transpose-control input {
    border-radius: 2px;
    border: none;
    width: 40px;
    padding-left: 4px;
    box-sizing: border-box;
}

.left-nav {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 0;
    left: -360px;
    visibility: hidden;

    overflow-y: scroll;

    padding: 1rem;

    z-index: 200;

    background-color: #333;

    align-items: start;
    -moz-background-clip: padding;
    /* Firefox 3.6 */
    -webkit-background-clip: padding;
    /* Safari 4? Chrome 6? */
    background-clip: padding-box;
    /* Firefox 4, Safari 5, Opera 10, IE 9 */
    border-right: 5px solid rgba(0, 0, 0, 0.2);

    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, width, visibility, bottom;
}


#tunelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button, input {
    line-height: normal !important;
}

/* .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
} */

#tunelist .nav-link {
    padding: 0 !important;
    color: #eee;
}

#tunelist .nav-link:hover {
    color: #007bff;
}

#tunelist p {
    margin-bottom: 0;
}

#card-resources li {
    font-size: 0.8rem;
}

#card-tags .badge {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0.1em;
} 

.hanging-indent {
    padding-left: 22px ;
    text-indent: -22px ;
}

/* bootstrap overrides */
.card-body {
    padding-top: 0 !important;
}

.left-nav.open {
    left: 0;
    width: 360px;
    visibility: visible;
}

/* mobile */
@media (min-width: 0px) {

    .left-nav.open {
        width: 100%;
    }

    .left-nav.open+.main {
        margin-left: 0;
    }
}

/* desktop */
@media (min-width: 576px) {
    .left-nav.open {
        width: 360px;

    }
}

/* desktop */
@media (min-width: 992px) {
    .left-nav.open+.main {
        margin-left: 360px;
    }
}

.abcjs-tempo-wrapper label {
    margin-bottom: 0 !important;
}