html,
body {
    margin: 0;
    /* background-color: #333; */
    /* color: #eee; */
}

.title {
    border-bottom: 5px solid #999;
    padding: 5px 10px;
    /* font-size: 36pt; */
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 71px;
    background-color: #333;
    z-index: 100;

    font-size: 2rem;

    color: #eee;
}

.title .nav-toggle {
    display: inline-block;
    /* width: 1em; */
    /* height: 1.5em; */
    color: inherit;
    vertical-align: middle;
    font-size: inherit;
    /* border: 1px solid #999; */
    margin: 0 1rem;
    text-align: center;
    vertical-align: middle;
    /* content: ""; */
    /* background: no-repeat center center;
    background-size: 100% 100%; */
}

.title h1 {
    font-size: inherit;
    line-height: inherit;
    padding: 0 0.5rem;
}

.wrapper {
    margin-top: 71px;
}

.main {
    padding-top: 1rem;
    font-size: 2rem;
    /* background-color: #eee; */
    color: #000;

    overflow-x: hidden;

    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: margin-left;
}

.left-nav {
    position: fixed;
    top: 71px;
    bottom: 0;
    width: 360px;
    left: -360px;
    visibility: hidden;

    padding: 1rem;

    z-index: 200;

    background-color: #333;

    align-items: start;
    -moz-background-clip: padding;
    /* Firefox 3.6 */
    -webkit-background-clip: padding;
    /* Safari 4? Chrome 6? */
    background-clip: padding-box;
    /* Firefox 4, Safari 5, Opera 10, IE 9 */
    border-right: 5px solid rgba(0, 0, 0, 0.2);

    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, width, visibility;
}

.left-nav.open {
    left: 0;
    visibility: visible;
}

#tunelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
} */

#tunelist .nav-link {
    padding: 0 !important;
    color: #eee;
}

#tunelist .nav-link:hover {
    color: #007bff;
}

#tunelist p {
    margin-bottom: 0;
}


.hanging-indent {
    padding-left: 22px ;
    text-indent: -22px ;
}

/* mobile */
@media (min-width: 0px) {
    .left-nav {
        width: 0;
    }

    .left-nav.open {
        width: 100%;
    }

    .left-nav.open+.main {
        margin-left: 0;
    }
}

/* desktop */
@media (min-width: 992px) {
    .left-nav {
        width: 0;
    }

    .left-nav.open {
        width: 360px;
    }

    .left-nav.open+.main {
        margin-left: 360px;
    }


}
